<title>Sidtipat</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">

<meta name="viewport" content="width=device-width, initial-scale=1">


<div class="nav" id="blur">
    <ul>
        <li><a class="first">For</a></li>
        <li><a class="first">Something</a></li>
        <li><a>In</a></li>
        <li><a class="last">The</a></li>
        <li><a class="last">Future</a></li>
    </ul>
</div>
<div class="container">
    <Br></Br>
    <a href="/polls/" class="poll btn">To Polls</a>
</div>