body {
  background: white url("images/background.gif") no-repeat;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Helvetica;
  text-align: center;
  line-height: 50px;
}

li a {
  color:orangered;

}
