body {
  background: white url("images/background.gif") no-repeat;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Helvetica;
  line-height: 50px;
}
h1 {
  color: orangered;
}
li a {
  color: orangered;
}

ul {
  font-weight: bold;
}
