body {
  background: url("images/background.gif") no-repeat center center fixed;

  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Helvetica;
}

.container {
  width: 30rem;
  height: 20rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  font-family: Helvetica;
  backdrop-filter: blur(5px);
  text-align: center;

}

.poll {
  color: orangered;
  font-size: 50px;
  font-weight: bolder;
  text-shadow: 0 0 3px black, 0 0 5px whitesmoke;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background: rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(225, 225, 225, 0.5);
  z-index: 1000;
}

.nav ul {
  list-style: none;
  text-align: center;
  white-space: nowrap;
  padding-right: 32px;
}

.nav ul li {
  display: inline-block;
}

.nav ul li a {
  font-family: soleil, sans-serif;
  font-weight: 100;
  font-size: 25px;
  color: orangered;
  padding: 19px 16px;
  transition: background 0.4s, text-shadow 0.4s;
  cursor: pointer;
  font-weight: bolder;
}

.nav ul li a:hover {
  background: rgba(255, 255, 255, 0.2);
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.first {
  margin-right: -0.17em;
  border-right: none !important;
}

.last {
  margin-left: -0.17em;
  border-left: none !important;
}

